.calculator{
    border: 2px solid black;
    min-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 7px 15px 1px rgb(124, 124, 124);
    background-color: black;
}
.calculator__screen{
    border: 2px solid silver;
margin: 3px;
padding: 5px;
font-size: 25px;
height: 80px;
border-radius: 5px;
background-color: black;
color: white;
overflow: auto;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;

}
.calculator__screen_text{
    margin: 2px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 20px;
}
.result{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.calculator__numbers{
    border: 2px solid black;
    margin: 3px; 
    padding: 2px;
border-radius: 5px;
background-color: black;
color: white;
    
}
.calculator__number_row{
    display: flex;

}
.calculator__num{
    flex: 1;
text-align: center;
margin: 5px;
border-radius: 20px;
cursor: pointer;
}
.calculator__blue{
    flex: 1;
text-align: center;
margin: 5px;
background-color: rgb(94, 10, 204);
border-radius: 20px;
cursor: pointer;
}
.calculator__red{
    flex: 1;
    text-align: center;
    margin: 5px;
    background-color: red;
border-radius: 20px;
cursor: pointer;
}
.calculator__red:hover , .calculator__blue:hover , .calculator__num:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.calculator__num:hover{
    background-color: ;
}